*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(213,225,239);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.container{
    background-color: white;
    width: 360px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.bigBox{
    width: 600px;
    background-color: white;
    max-width: 350px;
}

.img1{
    width: 100%;
    border-radius: 20px;
}

.txt{
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(28,41,69);
    margin-top: 20px;
    width: 300px;
}

.txt2{
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(153,157,165);
    margin-top: 20px;
}